/* :root {
    --body-bg: #c08ee5;
} */

.background { 
    
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../images/supreme-court.webp");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

/* html { 
    background-image: url("../images/supreme-court.webp") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
} */
