<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head ('Home Page')"></head>

<body>
    
<nav th:replace="partials/partials :: navbar"></nav>

<div class="background">

<h1>Donna M. Spicer</h1>

<div class="card" style="width: 40rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

<div>
    <p>This is a test of the controler</p>
</div>

</div>

</body>
</html>